.button{
  	background-color: lightblue;
  	font-family: courier;
	}
h1 {
	font-size:  80px;
}

.entryfont {
  font-size: 30px;
}

.special {
	color:  red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.entry2 {
	background-color: #69bbdb;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  column-gap: 10px;
  row-gap: 1em;
}

.textbox1 {
	background-color: floralwhite;
	margin-left: 100px;
	margin-right: 1000px;
	border-radius: 2px;

}


.hide {
  display: none;
}

.textbox1:hover + .hide {
  display: block;

}


.covidwechat {
  box-shadow:10px 10px 8px 10px #888888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.scrollbox {
  height:180px;width:180px;overflow:auto;
}

.background {
  background-color: lightsalmon;
}

.background4 {
  background-color: lightblue;
}

.imgtoggle {
  color: blue;
}

.img {
  width: 100%;
}

@media (max-width: 650px) {
   .hide {
    display: block;
  }
}

@media (max-width: 650px) {
   .hidden {
    display: none;
  }
}


.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}


.item {
  margin: 10px 10px;
  width: 20%;
  height: 20%;
}

