.button{
  	background-color: lightblue;
  	font-family: courier;
	}
h1 {
	font-size:  80px;
}

.entryfont {
  font-family: futura;
  font-size: 30px;
}

.header {
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: -10px;
  background-color: lightcyan;
  margin-right: 92%;
  border-radius: 10px;


}

.special {
	color:  red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centertext {
  text-align: center;
}

.entry2 {
	background-color: #69bbdb;
}

.size {
  margin-top: 50px;
  width: 100%;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  column-gap: 10px;
  row-gap: 1em;
  margin-top: 0px;
}

.textbox1 {
	background-color: floralwhite;
	margin-left: 350px;
	margin-right: 700px;
	border-radius: 8px;

}

.textbox2 {
  background-color: floralwhite;
  border-radius: 8px;


}

.borderradius {
  border-radius: 10px;
}

.box {
  display: flex;
}

.hide {
  display: none;
}

.textbox1:hover + .hide {
  display: block;

}


.covidwechat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.scrollbox {
  height:600px;width:10px;overflow:auto;
}

.background {
  background-color: lightsalmon;
}

.background4 {
  background-color: lightblue;
}

.imgtoggle {
  color: blue;
}

.img {
  width: 100%;
}

@media (max-width: 650px) {
   .hide {
    display: block;
  }
}

@media (max-width: 650px) {
   .hidden {
    display: none;
  }
}

@media (max-width: 650px) {
   .flex {

    flex-direction: column;
  }
}


.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}


.item {
  margin: 10px 10px;
  width: 20%;
  height: 20%;
}

.item2 {
  margin: 10px 10px;
  width: 35%;
}


.alignleft {
  float: left;
}

.alignright {
  float: right;
}


.clear  {
  clear: right;
}




.nomargin {
  padding: 0;
  margin: 0;
  }

.greenborder {
  border:10px solid green;

}

.phone {
  width: 40%;
}

.scrollitem {
  margin-left: 35%;
  border-radius: 60px;
  width: 30%;
}

.scrolltext {

  position: absolute;
  top: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ccc;
  z-index: 3;

}

.phoneframe {
    position: absolute;
    top: 10px;
    left: 18px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 4;
    margin-top: 300px;
    border-radius: 300px;

   
}

.column {
  display: flex;
}

.strip1 {
  display: flex;
  flex-direction: column;
  margin-left: 10%;

}

.strip2 {
  display: flex;
  flex-direction: column;
  margin-right: 15%;

}

.pic1 {
  width: 60%;

}
.pic2 {
  width: 60%;
}
.pic3 {
  width: 60%;
}
.pic4 {
  width: 130%;
}
.pic5 {
  width: 130%;
}
.pic6 {
  width: 130%;
}

.poem {
  width: 100%;
  margin-right: 15%;
  margin-top: 10%;


}